// ----------------------------------------------------------------------------
// Card
// ----------------------------------------------------------------------------

.cards-container {
    list-style-type: none;
    padding-left: 0;
}

.card {
    margin-bottom: $margin-component;

    div {
        &:not(:last-child) {
            margin-bottom: $margin-component-content;
        }

        > * {
            vertical-align: middle;
        }
    }

    svg {
        margin-right: $margin-component-content / 2;
        fill: $color-text;
    }
}

.card-heading {
    margin-top: $margin-component-content;
    margin-bottom: $margin-component-content;
    line-height: $line-height-heading;
}
