// ----------------------------------------------------------------------------
// Card
// ----------------------------------------------------------------------------

article {
    h2 {
        margin-bottom: $margin-component-content;
    }

    div {
        display: flex;
        align-items: center;
    }

    svg {
        flex-basis: 1.5rem;
        flex-shrink: 0;
        height: 1.5rem;
        margin-right: $margin-component-content;
        fill: $color-text;
    }
}
