// ----------------------------------------------------------------------------
// Card
// ----------------------------------------------------------------------------

.cards-container {
    list-style-type: none;
    padding-left: 0;
}

.card {
    margin-bottom: $margin-component;

    > div {
        display: inline-block;

        &:not(:last-child) {
            width: 50%;
            margin-bottom: $margin-component-content;
        }
    }

    .attribute {
        color: $color-text-secondary;
        font-size: $font-size-small;
        text-transform: uppercase;
    }
}

.card-heading {
    margin-top: $margin-component-content;
    margin-bottom: $margin-component-content;
    line-height: $line-height-heading;
}

@media screen and (min-width: $breakpoint-small) {
    .card {
        > div {
            width: 50%;
            vertical-align: top;

            &:not(:last-child) {
                width: 25%;
            }
        }
    }
}
