// ----------------------------------------------------------------------------
// Search
// ----------------------------------------------------------------------------

.loading-indicator {
    display: block;
    margin-right: auto;
    margin-left: auto;

    circle {
        -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
                animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
    }
}
