// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

footer {
    padding-right: $padding-content;
    padding-left: $padding-content;
    color: $color-text-secondary;
    text-align: center;
}
