// ----------------------------------------------------------------------------
// Main
// ----------------------------------------------------------------------------

main {
    position: relative;
    max-width: 37.5rem;
    min-height: calc(100vh - 3.5rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: $padding-content;
    padding-left: $padding-content;

    header {
        position: absolute;
        top: 25vh;
        right: $padding-content;
        left: $padding-content;
    }

    h1 {
        margin-top: 0;
        margin-bottom: $margin-component;

        div {
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
        }
    }
}

.main-header-static {
    position: static;
    margin-bottom: $margin-layout;
    padding-top: $padding-content;
}
